
.DateRangePickerInput {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.DateInput {
    width: 42% !important;
}

.DateInput_input {
    font-size: 12px !important;
    padding: 4px !important;
    text-align: center !important;
}

.DateRangePickerInput_arrow {
    padding: 0 2px !important;
}


